# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# AWS
.aws/
*.pem

# Node.js
node_modules/
.next/
out/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Temporary files
*.tmp
*.temp
